<div class="page-container">
  <div class="header-section">
    <h2>Liste des Modules</h2>
  </div>

  <div class="card list-card">
    <table class="data-table">
      <thead>
      <tr>
        <th>Code</th>
        <th>Nom du Module</th>
        <th>Semestre</th>
        <th>Volume Horaire</th>
        <th>Coefficient</th>
      </tr>
      </thead>
      <tbody>
        @for (mod of moduleService.modules(); track mod.id) {
          <tr>
            <td><span class="badge badge-gray">{{ mod.code }}</span></td>
            <td><strong>{{ mod.nom }}</strong></td>
            <td><span class="badge badge-blue">{{ getSemestreNom(mod.semestreId) }}</span></td>
            <td>{{ mod.volumeHoraire }}h</td>
            <td>{{ mod.coefficient }}</td>
          </tr>
        } @empty {
          <tr>
            <td colspan="5" class="text-center">Aucun module trouvé.</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
